<div>
 <div>{{name}}</div> 
 <div>{{description}}</div> 
 <div>{{price}}</div> 
 <div>{{isAvailable ? 'Open' : 'Closed'}}</div>
 <div>{{category.First}}</div> 
 <button (click)="onBuy($event)" >Buy</button>

 <div>
  <ul *ngFor="let product of products">
    <li>Name: {{product.item}}</li>
    <li>Price: {{product.price}} $</li>
    <li>Product id:{{product.productId}}</li>
    <li>In store: {{product.isAvailable ? 'available' : 'not in stock'}}</li>
    <button (click)="onAddToCart(product)" [disabled]="!product.isAvailable">Add to cart</button>
  </ul>
</div>
</div>

<!-- 
<product-list>
  <product **ngFor="let item of items" (remove)="">
    <div>
      lk
    </div>
    <button (click)="remove.emit(sdsds)">Remove</button>
  </product>
</product-list> -->